$dark: #000;
$light: #fff;
$pinky: #f64c72;
$dark-grey: #333;
$dark-blue: #2F2FA2;
$light-blue: rgb(76, 76, 193);
$tech1: #F99D34;
$tech2: #00D8FF;
$tech3: #54B689;
$tech4: #E34F26;
$tech5: #009ACD;
$tech6: #000;